/* .Event {
  background-color: red;

  width: 83%;
  padding: 10px 20px;
  margin: 0 auto;

  border-radius: 10px;

  overflow: hidden;
} */

.EventInfoContainer p {
  margin: 0;
}

.EventName {
  margin: 0;
  text-align: left;

  text-transform: uppercase;
}

.EventDescription {
  margin: 0;
  text-align: left;
}

.EventInfoIcon {
  margin-right: 5px;
}

.EventInfoText {
  /* margin-left: 5px; */
  margin: 0;
}
